body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

#gameArea {
    position: relative;
    margin-left: 25em;
    width: 50vw;
    height: 100vh;
    background-color: #444;
}

#playerCar {
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: red;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}
